{% extends 'layout.html' %}

{% block content %}
  <div class="home">
      <!-- main title panel -->
    <div id="mainTitlePanel" class="home-panel panelUp">
      <img class="logomap" src="/images/mapall_logo_400px.jpg" alt="WAmap">
      <h1 class="mainTitle">map all the things</h1>
      <p class="strapline">Your WA geographical data wizard</p>
    </div>

    <!-- middle panel -->
    <div id="acknowledgementPanel" class="">
      <h2 class="midPanelText">About Us</h2>
      <p class="midPanelBlurb">We respectfully acknowledge the past and present traditional owners of this land on which we are meeting, the Noongar people. It is a privilege to be standing on Noongar country. We also acknowledge the contributions of Aboriginal Australians and non-Aboriginal Australians to the education of all children and people in this country we all live in and share together – Australia.</p>
    </div>

   <!-- About panel -->
   <div id="aboutPanel" class="home-panel panelUp">
     <h2>Members</h2>
     <div class="memberList">
     <div class="member">
       <h4>Molly Tebo</h4>
       <p class="description">An eLearning Librarian, former scientist, trainer, spinner, knitter, photographer and mother. Molly is a loudmouth and loves working on interesting tech projects.</p>
       <p>@madradish</p>
     </div>
     <div class="member">
       <h4>Marcus Holmes</h4>
       <p class="description">Gentleman technologist and start-up monkey. Runs <a href="http://startupnews.com.au" target="_blank">//Startup News</a></p>
       <p>@GentlemanTech</p>
     </div>
     <div class="member">
       <h4>Mary Hewitt</h4>
       <p class="description">Musician, Composer, Geologist, Geospatial Scientist, Perpetual University Student and Data Nerd.</p>
       <p>@MaryHewitt93</p>
     </div>
     <div class="member">
       <h4>Patrik Affentranger</h4>
       <p class="description">Awesome web publisher, who basically learnt Google Maps API in a day.</p>
       <p>@pzimat</p>
     </div>
     <div class="member">
       <h4>Van Dutton</h4>
       <p class="description">Passionnate about collaborative innovation for transformation of business and society</p>
       <p>@hangvan96</p>
     </div>
     <div class="member">
       <h4>Jacqui Swingler</h4>
       <p class="description">Mother, Designer, Innovator and Life-Long Learner</p>
       <p>@jjandthebear</p>
     </div>
   </div>

  </div>

{% endblock  %}
