<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles.css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic,500italic' rel='stylesheet' type='text/css'>
    <script src="/application.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false&amp;libraries=visualization,places"></script>
  </head>
  <body class="{{bodyClass}}">
    {% block content %}{% endblock %}
  </body>
</html>
