body.map
  position: relative
  height: 100%
  width: 100%

#map-canvas
  height: 100%
  width: 100%
  margin: 0px
  padding: 0px

#layer-control
  background-color: #fff
  border-radius: 3px
  border: 1px solid #ccc
  box-shadow: 0 1px 3px rgba(#000, 0.1)
  min-height: 20px
  min-width: 20px
  font-size: 12px
  padding: 5px
  position: absolute
  right: 5px
  top: 30px

  ul
    list-style-type: none
    margin: 0
    padding: 0

  li
    margin-bottom: 5px

  label
    cursor: pointer

  input
    margin-right: 5px
