body.map
  position: relative
  height: 100%
  width: 100%

#map-canvas
  height: 100%
  width: 100%
  margin: 0px
  padding: 0px

#layer-control
  background-color: #fff
  border-radius: 3px
  border: 1px solid #ccc
  box-shadow: 0 1px 3px rgba(#000, 0.1)
  min-height: 20px
  min-width: 20px
  font-size: 12px
  padding: 0
  position: absolute
  right: 5px
  top: 30px
  transition: transform 250ms ease-out
  &.hidden
    transform: translateX(100%)

    #control-toggle
      &:before, &:after
        background-color: #444

  ul
    list-style-type: none
    margin: 10px 10px 0 10px
    padding: 0

  li
    margin-bottom: 5px
    line-height: 1.5

  label
    cursor: pointer

  input
    margin-right: 5px

#control-toggle
  white-space: nowrap
  overflow: hidden
  text-indent: 100%
  width: 18px
  height: 30px
  background-color: #fff
  display: block
  position: absolute
  left: -19px
  top: 7px
  border: 1px solid #ccc
  border-right: 0
  border-top-left-radius: 3px
  border-bottom-left-radius: 3px

  &:before, &:after
    content: "\0200"
    display: block
    width: 3px
    height: 70%
    top: 5px
    position: absolute
    background-color: lighten(#ccc, 4)
    border-radius: 2px

  &:before
    left: 5px

  &:after
    left: 11px


.map
  .controls
    margin-top: 16px
    border: 1px solid transparent
    border-radius: 2px 0 0 2px
    box-sizing: border-box
    -moz-box-sizing: border-box
    height: 32px
    outline: none
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)

#pac-input
  background-color: #fff
  font-family: Roboto
  font-size: 15px
  font-weight: 300
  margin-left: 12px
  padding: 0 11px 0 13px
  text-overflow: ellipsis
  width: 300px

  &:focus
    border-color: #4d90fe
